.ui.card {
  text-align: left;
  .image {
    max-height: 150px;
    overflow: hidden;
    image {
      object-fit: contain;
    }
  }
  .description {
    p {
      margin: 0.2rem 0;
    }
  }
  .extra.content {
    text-align: center;
  }
}
