<div class="ui card vivify swoopInBottom">
  <div class="image">
    <img [src]="car.image" />
  </div>
  <div class="content">
    <a class="header">{{ car.title }}, {{ car.model }}</a>
    <div class="meta">
      {{ car.brand }}
    </div>
    <div class="description">
      <p>
        <i class="calendar check icon"></i>
        {{ car.year }}
      </p>
      <p>
        <i class="money icon"></i>
        {{ car.price | currency }}
      </p>
    </div>
  </div>
  <div class="extra content">
    <a
      [routerLink]="['detalles', car.id]"
      class="ui blue circular small button"
    >
      Ver especificaciones
    </a>
  </div>
</div>
