<div class="ui inverted segment">
  <div class="ui container">
    <nav class="ui inverted secondary menu">
      <a
        class="item"
        [routerLink]="item.route"
        routerLinkActive="active"
        *ngFor="let item of navItems"
      >
        <i [ngClass]="[item.icon, 'icon']"></i>
        {{ item.text }}
      </a>
    </nav>
  </div>
</div>
