<div class="ui container">
  <div class="main text contaner">
    <div class="ui centered big image">
      <img [src]="carDetail.image" class="ui big image" />
    </div>
    <div class="ui header">
      <h2>{{ carDetail.title }}, {{ carDetail.model }}</h2>
      <div class="sub header">
        {{ carDetail.brand }}
      </div>
    </div>
  </div>
  <div class="ui placeholder segment">
    <p>
      <i class="calendar check icon"></i>
      {{ carDetail.year }}
    </p>
    <p>
      <i class="money icon"></i>
      {{ carDetail.price | currency }}
    </p>
    <p>
      <i class="caret right icon"></i>
      {{ carDetail.specifications.motor }}
    </p>
    <p>
      <i class="caret right icon"></i>
      {{ carDetail.specifications.airConditioning }}
    </p>
    <p>
      <i class="caret right icon"></i>
      {{ carDetail.specifications.intelligentKey }}
    </p>
    <p>
      <i class="caret right icon"></i>
      {{ carDetail.specifications.rin }}
    </p>
  </div>
</div>
