<main class="ui container center aligned">
  <h2>Selecciona el mejor vehículo para tu estilo de vida</h2>
  <section class="wrap-list">
    <app-card class="item" *ngFor="let car of cars" [car]="car"></app-card>
  </section>
</main>
